{
  "openapi": "3.1.0",
  "info": {
    "title": "HeyGen External API",
    "version": "1.0.0",
    "description": "HeyGen's external API for programmatic AI video creation. See https://docs.heygen.com for full documentation.",
    "contact": {
      "name": "HeyGen Product Infra",
      "url": "https://heygen.com"
    }
  },
  "servers": [
    {
      "url": "https://api.heygen.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Video Agent",
      "description": "Create videos from text prompts using AI"
    },
    {
      "name": "Videos",
      "description": "Create, list, retrieve, and delete videos"
    },
    {
      "name": "Templates",
      "description": "Generate videos from reusable templates by replacing their variables"
    },
    {
      "name": "Voices",
      "description": "Text-to-speech and voice management"
    },
    {
      "name": "Audio",
      "description": "Search the background-music and sound-effects catalog"
    },
    {
      "name": "Video Translate",
      "description": "Translate videos into other languages"
    },
    {
      "name": "AI Clipping",
      "description": "Turn long-form videos into ready-to-share short clips with captions"
    },
    {
      "name": "Batches",
      "description": "Create and track batches of videos."
    },
    {
      "name": "Video Translation Batches",
      "description": "Create and track batches of video translations."
    },
    {
      "name": "Lipsync Batches",
      "description": "Create and track batches of lipsyncs."
    },
    {
      "name": "Asset Batches",
      "description": "Create and track batches of direct-to-S3 asset uploads."
    },
    {
      "name": "User",
      "description": "Account information and billing"
    },
    {
      "name": "Avatars",
      "description": "List and manage avatars and looks"
    },
    {
      "name": "Avatar Realtime",
      "description": "Low-latency streaming avatar sessions — create a stream, poll for its HLS URL, push text, consume per-word timestamps"
    },
    {
      "name": "Assets",
      "description": "Upload files for use in video creation"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook endpoints and events"
    },
    {
      "name": "Lipsync",
      "description": "Dub or replace audio on existing videos"
    },
    {
      "name": "Brand",
      "description": "Brand-related resources — brand kits (colors, fonts, logos) and brand glossaries (custom term translations)"
    },
    {
      "name": "HyperFrames",
      "description": "Render HyperFrames composition zips into video — separate from /v3/videos"
    }
  ],
  "paths": {
    "/v1/video_agent/generate": {
      "post": {
        "summary": "Create a video from a prompt",
        "description": "Create a video from a text prompt using HeyGen's Video Agent. This is the recommended way to create videos — just describe what you want and the agent handles avatar selection, scripting, and production. The video is generated asynchronously — use the returned video_id to poll status via GET /v2/videos/{video_id}.",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    },
                    "data": {
                      "$ref": "#/components/schemas/ExternalCreateVideoAgentSessionResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/LegacyAPIError"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/LegacyAPIError"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Unauthorized"
                  },
                  "data": null
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/LegacyAPIError"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests"
                  },
                  "data": null
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "createVideoAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCreateVideoAgentSessionRequest"
              }
            }
          }
        }
      }
    },
    "/v3/video-agents": {
      "post": {
        "summary": "Create Video Agent Session",
        "description": "One-shot video generation from a prompt — agent handles scripting, avatar selection, scene composition, and rendering. Supports generate (fire-and-forget) and chat (multi-turn) modes.",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateVideoAgentResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'prompt' is required and must be 1-10000 characters.",
                    "param": "prompt",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/create-video-agent-session"
        },
        "operationId": "createVideoAgentV3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoAgentRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Video Agent Sessions",
        "description": "Returns a paginated list of video agent sessions for the authenticated user, sorted newest-first.",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SessionListItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-video-agent-sessions"
        },
        "operationId": "listVideoAgentSessions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/video-agents/styles": {
      "get": {
        "summary": "List Video Agent Styles",
        "description": "Returns curated visual style templates available for Video Agent sessions. Each style controls scene composition, pacing, and aesthetics. Supports tag filtering (e.g. 'cinematic', 'retro-tech').",
        "tags": [
          "Video Agent"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StyleItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 50.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-video-agent-styles"
        },
        "operationId": "listVideoAgentStyles",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter by tag (e.g., 'cinematic', 'retro-tech', 'iconic-artist', 'pop-culture', 'handmade', 'print').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/brand-glossaries": {
      "get": {
        "summary": "List Brand Glossaries",
        "description": "List brand glossaries (custom term mappings, a.k.a. brand voices) in the authenticated user's workspace. A brand glossary enforces custom term translations during video translation — for example, translating \"Reformer\" as Pilates equipment instead of as a political activist. Brand glossaries are created and edited in the HeyGen web app under Brand Kit; this endpoint is read-only for discovery.\n\nPass the returned `brand_glossary_id` (or the legacy alias `brand_voice_id`) on POST /v2/video_translate to apply the glossary during translation.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BrandGlossaryItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-brand-glossaries"
        },
        "operationId": "listBrandGlossaries",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of brand glossaries to return (1-100). Default 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response's `next_token`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/brand-kits": {
      "get": {
        "summary": "List Brand Kits",
        "description": "Returns brand kits available in the authenticated user's workspace. Each brand kit contains colors, fonts, and logos that can be applied to Video Agent sessions. Use the returned brand_kit_id with POST /v3/video-agents to generate on-brand videos.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BrandKitItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-brand-kits"
        },
        "operationId": "listBrandKits",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page. Obtained from next_token in a previous response.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/avatars": {
      "post": {
        "summary": "Create Avatar",
        "description": "Creates a new avatar from an image, video footage, or a text prompt. Supports photo, digital_twin, and prompt types. Avatar training is asynchronous.",
        "tags": [
          "Avatars"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateAvatarResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "At least one file source is required: provide image, video, or consent_video.",
                    "param": "files",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyInProgress"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/create-avatar"
        },
        "operationId": "createAvatar",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAvatarRequestBody"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Avatar Groups",
        "description": "Returns a paginated list of avatar groups (characters). Each group contains one or more looks. Filterable by ownership.",
        "tags": [
          "Avatars"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AvatarGroupItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 50.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-avatar-groups"
        },
        "operationId": "listAvatarGroups",
        "parameters": [
          {
            "name": "ownership",
            "in": "query",
            "required": false,
            "description": "Filter by ownership: 'public' for preset avatars, or 'private' for your own. Omit for all.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return per page (1-50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/avatar-realtime": {
      "post": {
        "summary": "Create Avatar Realtime Session",
        "description": "Start a low-latency streaming avatar session and return a `stream_id`. Three modes, selected by the `type` discriminator: `tts` (speak a fixed script), `audio` (drive lip-sync from a pre-existing audio asset), and `text_stream` (seed with initial text, then append more text deltas over time via POST /v3/avatar-realtime/{stream_id}/text — e.g. as an upstream LLM streams tokens). Poll GET /v3/avatar-realtime/{stream_id} for the session status and HLS playback URL.",
        "tags": [
          "Avatar Realtime"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CreateAvatarRealtimeResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "Invalid 'type'. Must be one of: tts, audio, text_stream.",
                    "param": "type",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-mint": {
          "href": "/reference/create-avatar-realtime-session"
        },
        "operationId": "createAvatarRealtimeSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAvatarRealtimeRequestBody"
              }
            }
          }
        }
      }
    },
    "/v3/avatar-realtime/{stream_id}": {
      "get": {
        "summary": "Get Avatar Realtime Session",
        "description": "Get the status of a streaming avatar session. `status` is one of `pending` (workflow starting), `streaming` (the `hls_url` is live), `completed` (finished — `end_reason` describes how), or `error` (`error_message` describes the failure). Poll this after POST /v3/avatar-realtime until `hls_url` is present.",
        "tags": [
          "Avatar Realtime"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AvatarRealtimeStatusResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Streaming session not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-mint": {
          "href": "/reference/get-avatar-realtime-session"
        },
        "operationId": "getAvatarRealtimeSession",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Streaming session identifier returned by POST /v3/avatar-realtime."
          }
        ]
      }
    },
    "/v3/avatar-realtime/{stream_id}/words": {
      "get": {
        "summary": "Stream Avatar Realtime Word Timestamps",
        "description": "Open a Server-Sent Events (`text/event-stream`) stream of per-word timestamps for a session. Each `data:` frame is a `WordBatch` (`{\"words\": [{\"word\", \"start\", \"end\"}, ...]}`); times are in seconds from the start of the streamed audio (matching OpenAI Whisper and ElevenLabs). Punctuation is emitted as its own word event. Batches are capped at ~1s of audio or 10 words, whichever comes first. Late subscribers receive the full session history; completed sessions are served from a durable snapshot. The stream ends with a single `event: end` frame carrying a `WordsEndEvent`.",
        "tags": [
          "Avatar Realtime"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events stream (`text/event-stream`). Each `data:` frame carries one `WordBatch` JSON payload; the stream terminates with a single `event: end` frame whose data is a `WordsEndEvent`.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/WordBatch"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Streaming session not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-mint": {
          "href": "/reference/stream-avatar-realtime-word-timestamps"
        },
        "operationId": "streamAvatarRealtimeWords",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Streaming session identifier returned by POST /v3/avatar-realtime."
          }
        ]
      }
    },
    "/v3/avatar-realtime/{stream_id}/text": {
      "post": {
        "summary": "Append Avatar Realtime Text",
        "description": "Append a text delta to a session created with `type: text_stream`. Send fragments as they become available (e.g. tokens streamed from an upstream LLM); the avatar speaks them in order. Set `final: true` on the last delta to close input — further appends to a closed stream return 410. Returns the total bytes buffered so far.",
        "tags": [
          "Avatar Realtime"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted — submission acknowledged; poll for completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppendTextDeltaResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'delta' must be non-empty unless final=true.",
                    "param": "delta",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-mint": {
          "href": "/reference/append-avatar-realtime-text"
        },
        "operationId": "appendAvatarRealtimeText",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Streaming session identifier returned by POST /v3/avatar-realtime."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendTextDeltaRequest"
              }
            }
          }
        }
      }
    },
    "/v3/avatar-realtime/{stream_id}/cancel": {
      "post": {
        "summary": "Cancel Avatar Realtime Session",
        "description": "Cancel a running streaming session. Idempotent: `cancelled` is true when this request initiated the cancellation, or false when the session was already terminal (completed, failed, or previously cancelled).",
        "tags": [
          "Avatar Realtime"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted — submission acknowledged; poll for completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CancelAvatarRealtimeResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Streaming session not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-mint": {
          "href": "/reference/cancel-avatar-realtime-session"
        },
        "operationId": "cancelAvatarRealtimeSession",
        "parameters": [
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Streaming session identifier returned by POST /v3/avatar-realtime."
          }
        ]
      }
    },
    "/v1/audio/text_to_speech": {
      "post": {
        "summary": "Generate speech audio from text",
        "description": "Synthesize speech audio from text using a specified voice. Returns a URL to the generated audio file along with duration and optional word-level timestamps.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TextToSpeechResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'voice_id' is required.",
                    "param": "voice_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "textToSpeech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        }
      }
    },
    "/v1/audio/voices": {
      "get": {
        "summary": "List voices for text-to-speech",
        "description": "List voices available for TTS generation with cursor-based pagination. Filter by type (public/private), language, and gender.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioVoiceItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mcp-visible": false,
        "x-cli-visible": false,
        "x-excluded": true,
        "operationId": "listAudioVoices",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Voice type: 'public' for the shared library or 'private' for your cloned voices.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ],
              "default": "public"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter by language (e.g. 'English').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter by gender ('male' or 'female').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/audio/sounds": {
      "get": {
        "summary": "Search audio (music or sound effects)",
        "description": "Semantically search the audio catalog by natural-language description — set type=music (the default) for background music (e.g. 'upbeat lofi hip-hop', 'tense cinematic riser') or type=sound_effects for SFX (e.g. 'whoosh for a scene change', 'cash register cha-ching'). Returns tracks ranked by similarity, each with a pre-signed download URL, plus cursor-based pagination.",
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioSoundItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'query' is required.",
                    "param": "query",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/search-audio-music-or-sound-effects"
        },
        "operationId": "searchAudioSounds",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Natural-language description of the audio you want, e.g. 'upbeat lofi hip-hop' or 'tense cinematic riser'. Results are ranked by semantic similarity to this text.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 5000
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Audio content type to search: 'music' (background-music catalog) or 'sound_effects' (SFX catalog). Defaults to 'music'.",
            "schema": {
              "type": "string",
              "enum": [
                "music",
                "sound_effects"
              ],
              "default": "music"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return (1-50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "description": "Minimum semantic similarity score (0-1). Tracks scoring below this are omitted.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1,
              "default": 0.7
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page, taken from 'next_token' in a prior response.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/voices/speech": {
      "post": {
        "summary": "Generate Speech",
        "description": "Synthesize speech audio from text using a specified voice. The voice must support the starfish engine — use GET /v3/voices?engine=starfish to find compatible voices. Supports plain text and SSML. Speed range: 0.5–2.0x. Returns a URL to the generated audio file along with duration and optional word-level timestamps.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TextToSpeechResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'voice_id' is required.",
                    "param": "voice_id",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/generate-speech"
        },
        "operationId": "createSpeechV3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        }
      }
    },
    "/v3/voices": {
      "post": {
        "summary": "Design a Voice",
        "description": "Returns up to 3 voices matching a natural language description (e.g. 'warm, confident female narrator'). Use the seed parameter to get different batches of results.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DesignVoiceResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'prompt' is required.",
                    "param": "prompt",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/design-a-voice"
        },
        "operationId": "designVoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DesignVoiceRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Voices",
        "description": "Returns a paginated list of voices, filterable by type, engine, language, and gender. Use engine=starfish for voices compatible with the TTS endpoint.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioVoiceItem"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether more pages are available"
                    },
                    "next_token": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Opaque cursor for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "invalid_parameter",
                    "message": "'limit' must be between 1 and 100.",
                    "param": "limit",
                    "doc_url": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/list-voices"
        },
        "operationId": "listVoicesV3",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Voice type: 'public' for the shared library or 'private' for your cloned voices.",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private"
              ],
              "default": "public"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "description": "Filter by voice engine (e.g. 'starfish'). When set, only voices compatible with that engine are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Filter by language (e.g. 'English').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter by gender ('male' or 'female').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor token for the next page.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v3/voices/clone": {
      "post": {
        "summary": "Clone a Voice",
        "description": "Creates a voice clone from an audio file. Returns a voice_clone_id that can be polled via GET /v3/voices/{voice_clone_id} until the status is 'complete'. The resulting voice can be used with POST /v3/voices/speech and POST /v3/videos.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VoiceCloneCreateV3Response"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "resource_limit_reached",
                    "message": "Voice clone limit reached (10). Delete unused clones or contact support to increase your limit."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "plan_upgrade_required",
                    "message": "Voice cloning is not available on the free tier. Please upgrade your plan."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/clone-a-voice"
        },
        "operationId": "cloneVoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoiceCloneV3Request"
              }
            }
          }
        }
      }
    },
    "/v3/voices/{voice_id}": {
      "get": {
        "summary": "Get Voice",
        "description": "Returns details for a specific voice, including clone workflow status when available. Use this to poll a voice clone until its status is 'complete'.",
        "tags": [
          "Voices"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VoiceDetailV3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "authentication_failed",
                    "message": "Invalid or expired API key. Verify your x-api-key header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "voice_not_found",
                    "message": "Voice not found.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/StandardAPIError"
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "rate_limit_exceeded",
                    "message": "Too many requests. Retry after the duration specified in the Retry-After header.",
                    "param": null,
                    "doc_url": null
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/reference/get-voice"
[...]
